sesion10/pc03_Revilla_Consumidor/web/WEB-INF/wsdl/localhost_8080/MiServicio/MiServicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ae2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ae2/" name="MiServicio">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ae2/" schemaLocation="http://localhost:8080/MiServicio/MiServicio?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findByName">
<part name="parameters" element="tns:findByName"/>
</message>
<message name="findByNameResponse">
<part name="parameters" element="tns:findByNameResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="prodPerRange">
<part name="parameters" element="tns:prodPerRange"/>
</message>
<message name="prodPerRangeResponse">
<part name="parameters" element="tns:prodPerRangeResponse"/>
</message>
<message name="findAllOrder">
<part name="parameters" element="tns:findAllOrder"/>
</message>
<message name="findAllOrderResponse">
<part name="parameters" element="tns:findAllOrderResponse"/>
</message>
<portType name="MiServicio">
<operation name="remove">
<input wsam:Action="http://ws.ae2/MiServicio/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://ws.ae2/MiServicio/countRequest" message="tns:count"/>
<output wsam:Action="http://ws.ae2/MiServicio/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://ws.ae2/MiServicio/findRequest" message="tns:find"/>
<output wsam:Action="http://ws.ae2/MiServicio/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://ws.ae2/MiServicio/create" message="tns:create"/>
</operation>
<operation name="findByName">
<input wsam:Action="http://ws.ae2/MiServicio/findByNameRequest" message="tns:findByName"/>
<output wsam:Action="http://ws.ae2/MiServicio/findByNameResponse" message="tns:findByNameResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws.ae2/MiServicio/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.ae2/MiServicio/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://ws.ae2/MiServicio/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws.ae2/MiServicio/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws.ae2/MiServicio/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="prodPerRange">
<input wsam:Action="http://ws.ae2/MiServicio/prodPerRangeRequest" message="tns:prodPerRange"/>
<output wsam:Action="http://ws.ae2/MiServicio/prodPerRangeResponse" message="tns:prodPerRangeResponse"/>
</operation>
<operation name="findAllOrder">
<input wsam:Action="http://ws.ae2/MiServicio/findAllOrderRequest" message="tns:findAllOrder"/>
<output wsam:Action="http://ws.ae2/MiServicio/findAllOrderResponse" message="tns:findAllOrderResponse"/>
</operation>
</portType>
<binding name="MiServicioPortBinding" type="tns:MiServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prodPerRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MiServicio">
<port name="MiServicioPort" binding="tns:MiServicioPortBinding">
<soap:address location="http://localhost:8080/MiServicio/MiServicio"/>
</port>
</service>
</definitions>